<div id="nhsuk-global-alert" role="alert" class="nhsuk-c-global-alert nhsuk-c-global-alert--warning">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-global-alert__content">
                    <a href="javascript:void(0)" class="nhsuk-c-global-alert__close" onclick="hideGlobalAlert()">Close<span class="visually-hidden"> alert</span></a>
                    <h2 class="nhsuk-c-global-alert__header">National flu outbreak</h2>
                    <p class="nhsuk-c-global-alert__message">There has been a national flu outbreak. <a href="#" class="nhsuk-c-banner__link wrap">How does it affect me</a>.</p>
                    <p class="nhsuk-c-global-alert__updated">Updated 23 mins ago</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
  var alert = document.getElementById("nhsuk-global-alert");

  function hideGlobalAlert() {
    alert.style.display = "none";
  }
</script>
