<div role="alert" class="nhsuk-c-banner nhsuk-c-banner--warning">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                <div class="nhsuk-c-banner__content">
                    <h2 class="nhsuk-c-tag nhsuk-c-tag--warning">Health warning</h2>
                    <p class="nhsuk-c-banner__message">National flu outbreak. <a href="#" class="nhsuk-c-banner__link">What should I do?</a> <span class="nhsuk-c-banner__updated">This alert was last updated: 16:57 21-08-2018</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
