<header role="banner">
    <div class="nhsuk-global-header">
      {% if navigationWidth == 'fluid' %}
      <div class="nhsuk-o-width-container-fluid nhsuk-o-width-container--global-header">
      {% else %}
      <div class="nhsuk-o-width-container nhsuk-o-width-container--global-header">
      {% endif %}
        <div class="nhsuk-global-header__logo" style="padding-right:15px;padding-top: 16px;padding-left: 16px;padding-bottom: 16px;">
          <a href="/" class="global-header__link" style="width: 73px;height: 30px;">
              <img class="nhsuk-logo nhsuk-logo__fallback" src="../../assets/images/nhs-logo.png" xlink:href="" style="width: 73px;height: 30px;"/>
          </a>
        </div>
  

        <div>

            <p style="padding-top:20px; color:#fff; margin:0px; line-height:24px;">Register with a GP</p>
          </div>


      </div>
    </div>
  </header>
  