// Globals (move to FE library?)
@import 'globals/objects/full-width-container';

// Components in development
@import 'components/hero/hero';
@import 'components/home-page/home-page';
@import 'components/page-contents/page-contents';
@import 'components/pagination/pagination';
@import 'components/promo/promo';
@import 'components/reveals/reveals';
@import 'components/user-account/user-account';
@import 'components/video/video';

// Azure specific styles
@import 'pages/code';
@import 'pages/grid';
@import 'pages/colours';

// CSS for medicines page - lifted from beta.nhs.uk
.o-list-sections {
  padding-left: 2em;
  counter-reset: item;
  padding-left: 0;
}

.o-list-sections>li {
  display: block;
}