{% macro carecard(type, title, content) %}
{% if type == 'grey' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--grey" role="note">
  <div class="nhsuk-c-care-card__heading">
    <h2 class="nhsuk-heading-m"><span class="visually-hidden">Non-urgent advice: </span>
{% elseif type == 'red' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--red" role="note">
  <div class="nhsuk-c-care-card__heading">
    <h2 class="nhsuk-heading-m"><span class="visually-hidden">Urgent care low: </span>
{% elseif type == 'black' %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--black" role="note">
  <div class="nhsuk-c-care-card__heading">
    <h2 class="nhsuk-heading-m"><span class="visually-hidden">Urgent care high: </span>
{% else %}
<div class="nhsuk-c-care-card" role="note">
  <div class="nhsuk-c-care-card__heading">
    <h2 class="nhsuk-heading-m"><span class="visually-hidden">Non-urgent care: </span>
{% endif %}
  {{title}}</h2>
  </div>
  <div class="nhsuk-c-care-card__content">
    {{content | safe}}
  </div>
</div>
{% endmacro %}
