<div class="nhsuk-c-cookie-banner">
  <div class="nhsuk-o-width-container">
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">      
				<h2 class="nhsuk-c-cookie-banner__header">Our privacy and cookies policy</h2>
				<p class="nhsuk-c-cookie-banner__message">We've made some important changes to our Privacy and Cookies Policy and we want you to know what this means for you and your data.</p>
			</div>
			<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">  
				<div class="nhsuk-c-cookie-banner__action">
					<a href="#" class="nhsuk-c-cookie-banner__ok">OK</a>
				</div>
				<div class="nhsuk-c-cookie-banner__action">
					<a href="#" class="nhsuk-c-cookie-banner__more" >Find out more</span></a>
				</div>
      </div>
    </div>
  </div>
</div>
