<script type="text/javascript">
  function hideCookieBanner() {
      var cookiebanner = document.getElementById("cookiebanner");
      var cookiebannerstart = document.getElementById("cookiebanner-info");
      var cookiebannerend = document.getElementById("cookiebanner-close");
      cookiebannerstart.style.display = "none";
      cookiebannerend.style.display = "block";
  }

  function showToggle() {
    var element = document.getElementById("nhsuk-cookie-panel");
    var toggle = document.getElementById("nhsuk-cookie-toggle");
    var content = document.getElementById("nhsuk-cookie-content");
    element.classList.toggle("open");
    if(element.classList.contains("open")) {
      toggle.setAttribute("aria-expanded", "true");
      content.setAttribute("aria-hidden", "false");
    } else {
      toggle.setAttribute("aria-expanded", "false");
      content.setAttribute("aria-hidden", "true");
    }
  }
</script>

<div class="nhsuk-cookie-banner" id="cookiebanner" lang="[#LANGUAGE#]" dir="[#TEXTDIRECTION#]" role="alert" ng-non-bindable>
  <div class="nhsuk-cookie-banner__container" id="cookiebanner-info">
    <div class="nhsuk-reading-width">
      <h2>This website uses cookies</h2>
      <!-- CookieBot <h2>[#TITLE#]</h2> -->
      <p class="mt-0">We use files called '<a href="#">cookies</a>' across our websites. Some are essential. For others you have a choice. Find out <a href="#">which cookies we use and why</a>.</p>
      <form>
        <legend class="visually-hidden">Cookies you are happy for us to use:</legend>
        <div id="CybotCookiebotDialogBodyLevelButtonsSelectPane">
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="Mandatory - can not be deselected." style="display: none !important;">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonNecessary" class="multiple-choice--checkbox checkbox-blue CybotCookiebotDialogBodyLevelButtonDisabled" disabled="disabled" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonNecessary">
              Required
              <!-- CookieBot [#COOKIETYPE_NECESSARY_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="These types of cookies remember the notifications you&rsquo;ve seen so that we don&rsquo;t show them to you again.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonPreferences" class="multiple-choice--checkbox checkbox-blue" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonPreferences">
              Site preferences
              <!-- [#COOKIETYPE_PREFERENCE_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="These types of cookies measure how you use the website, like where you click, so it can be updated and improved based on your needs.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonStatistics" class="multiple-choice--checkbox checkbox-blue" checked="checked">
            <label for="CybotCookiebotDialogBodyLevelButtonStatistics">
              Website usage
              <!-- [#COOKIETYPE_STATISTICS_RAW#] -->
            </label>
          </div>
          <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="We run health awareness campaigns with trusted partners. These cookies see how they perform across the internet and social media. Such as whether you clicked an advert to come to our site.">
            <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonMarketing" class="multiple-choice--checkbox checkbox-blue">
            <label for="CybotCookiebotDialogBodyLevelButtonMarketing">
              Health campaigns
              <!-- [#COOKIETYPE_ADVERTISING_RAW#] -->
            </label>
          </div>
        </div>
      </form>

      <a href="javascript:void(0)" onclick="hideCookieBanner()" class="button nhsuk-cookie-banner__button" role="button">
        Agree and continue
        <!-- [#ACCEPT#] -->
      </a>

    </div>
  </div>
</div>