<div class="nhsuk-c-cookie-banner v2">
  <div class="nhsuk-o-width-container">
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--three-quarters">      
					<p class="nhsuk-c-cookie-banner__message">We've placed <a href="#">cookies</a> on your device to help make this website better. You can <a href="#" class="wrap">change your cookie settings</a>.</p>
			</div>
			<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-quarter">  
					<div class="nhsuk-c-cookie-banner__action">
							<a href="#" class="nhsuk-c-cookie-banner__ok">I understand</a>
					</div>
      </div>
    </div>
  </div>
</div>
