
.nhsuk-c-cookie-banner {
    background: tint($nhsuk-blue, 90%);
		padding: 16px 0;
		  
    &__header {
      font-size: 19px;
      line-height: 28px;
      margin: 0;
      
      @include mq($until:tablet) {
        font-size: 16px;
				line-height: 24px;
      }
    }
  
    &__message {
			font-size: 16px;
      line-height: 24px;
			margin: 4px 0 0;
			
			@include mq($until:tablet) {
				font-size: 14px;
				line-height: 20px;
      }
		}
		
		&__action {
			display: block;
			text-align: right;

			@include mq($until:desktop) {
				display: inline-block;
				text-align: left;
			}
		}

		&__ok,
		&__more {
			display: inline-block;
		}

		&__ok {
			background: $nhsuk-green;
			border-radius: 4px;
			box-shadow: 0 2px 0 0 $nhsuk-blue-shade-50;
			color: $nhsuk-white !important;
			font-weight: 600;
			padding: 4px 16px;
			position: relative;	
			text-decoration: none;

			&:focus {
				background: $nhsuk-green;
				box-shadow: 0 0 0 4px $nhsuk-focus-colour;
			}

			&:hover {
				background: $nhsuk-green-shade-35;
				box-shadow: 0 2px 0 0 $nhsuk-blue-shade-50;
			}

			&:active {
				background: $nhsuk-green-shade-50 !important;
				box-shadow: 0 2px 0 0 $nhsuk-blue-shade-50;
				top: 2px;
			}

			@include mq($until:desktop) {
				margin: 12px 12px 0 0;
			}

			@include mq($until:tablet) {
				padding: 4px 16px;	
			}
		}

		&__more {
			margin-top: 12px;
			font-size: 16px;

			@include mq($until:desktop) {
				font-size: 14px;
			}
		}
  
  }