{% set title = 'Care cards' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% from 'components/care-card/macro.njk' import careCard %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Care Cards</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ul>
			<li><a href="#what-it-is">What it is</a></li>
			<li><a href="#user-need">User need</a></li>
			<li><a href="#nhs-need">NHS need</a></li>
			<li><a href="#usage">Usage</a></li>
			<li><a href="#non-urgent-care-card">Non-urgent care card</a></li>
			<li><a href="#urgent-care-card">Urgent care card</a></li>
			<li><a href="#immediate-care-card">Immediate care card</a></li>
			<li><a href="#accessibility">Accessibility</a></li>
			<li><a href="#research">Research</a></li>
			<li><a href="#design-decisions">Design decisions</a></li>
			<li><a href="#111-care-card-deprecated">111 care card (deprecated)</a></li>
    </ul>
{% endblock %}

{% block content %}

<h2 id="what-it-is">What it is</h2>
<p>Care cards highlight when a user should take steps to contact the health and care system. There are three different styles, depending on the level of urgency the situation requires. </p>

<h2 id="user-need">User need</h2>
	<p>As someone with symptoms or a condition, I NEED to know if I should contact someone about my health, SO THAT I don’t leave it too late to get the right care.</p>

	<p>As someone with symptoms or a condition, I NEED to understand how urgently to contact someone, SO THAT I am treated at the right time.</p>

	<p>As someone with symptoms or a condition, I NEED to understand who to contact, SO THAT I do not waste time contacting the wrong service.</p>

<h2 id="nhs-need">NHS need</h2>
	<p>As an NHS content designer, I NEED to draw a user’s attention to specific actions, SO THAT they take steps to get the right care.</p>

	<p>As an NHS content designer, I NEED to be able to communicate the level of urgency an action has, both visually and with text, SO THAT users who are skim-reading, or using screen readers, know how important this information is.</p>

<h2 id="usage">Usage</h2>
<p>You can use multiple care cards on a single page, when for example, different levels of severity of a condition require people to access different levels of care. It is up to the content designer to decide where in the content each care card should be placed, and in what order (there are no rules on which should come first).</p>
<p>Only use care cards when directing people to engage directly with the health and care system. They should not be used when directing users to apply online for services (e.g. self-referrals for therapy services, or ordering chlamydia test kits). They should not be used to direct users to contact other parties (e.g. The Samaritans, or charities). You should use info boxes or inset text components to do this. </p>

<h2 id="non-urgent-care-card">Non-urgent care card</h2>

	<h3>When to use</h3>
  <p>Use a non-urgent care card when advising people to contact a healthcare professional about their conditions or symptoms, when it is not time-sensitive. For example, booking a GP appointment, or getting advice from a pharmacist.</p>

	<h3>Where it's currently being used</h3>
	<p><a href="https://www.nhs.uk/conditions/chickenpox/">Chickenpox page on NHS.UK</a></p>

	<h3>Final version</h3>

	<div class="nhsuk-reading-width">
		<div class="example grey-background">
			{{ careCard("blue", "Speak to a GP if:", "
					<ul>
						<li>you're not sure it's chickenpox</li>
						<li>the skin around the blisters is red, hot or painful (signs of infection)</li>
						<li>your child is <a href='#'>dehydrated</a></li>
						<li>you're concerned about your child or they get worse</li>
					</ul>
					<p>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.</p>")
			}}
		</div>
	</div>

	<div class="example-snippet">
	<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-2">Copy</button>
<pre class="language-markup" id="clipboard-2"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>Speak to a GP if:<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you're not sure it's chickenpox<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>the skin around the blisters is red, hot or painful (signs of infection)<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>your child is <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>#<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>dehydrated<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you're concerned about your child or they get worse<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>Tell the receptionist you think it's chickenpox before going in. They may recommend a special appointment time if other patients are at risk.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
	</div>

<h2 id="urgent-care-card">Urgent Care Card</h2>

	<h3>When to use</h3>
  <p>Use an urgent care card when advising people to contact a healthcare professional about their conditions or symptoms, when it is time sensitive. For example, if people are experiencing an allergic reaction to medication, or are in a situation where getting advice or care quickly, is important. An urgent care card can be used to advise people to contact 111, booking an urgent GP appointment, or going to A&E. </p>

	<h3>Where it's currently being used</h3>
	<p><a href="https://www.nhs.uk/conditions/chickenpox/">Chickenpox page on NHS.UK</a></p>

	<h3>Final version</h3>

	<div class="nhsuk-reading-width">
		<div class="example grey-background">
			{{ careCard("red", "Ask for an urgent GP appointment if:", "
					<ul>
						<li>you're an adult and have chickenpox</li>
						<li>you're pregnant and haven't had chickenpox before and you've been near someone with it </li>
						<li>you have a weakened immune system and you've been near someone with chickenpox</li>
						<li>you think your newborn baby has chickenpox</li>
					</ul>
					<p>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.</p>")
			}}
		</div>
	</div>

	<div class="example-snippet">
	<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-3">Copy</button>

<pre class="language-markup" id="clipboard-3"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card nhsuk-c-care-card--red<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>Ask for an urgent GP appointment if:<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you're an adult and have chickenpox<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you're pregnant and haven't had chickenpox before and you've been near someone with it <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you have a weakened immune system and you've been near someone with chickenpox<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>you think your newborn baby has chickenpox<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>In these situations, your GP can prescribe medicine to prevent complications. You need to take it within 24 hours of the spots coming out.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
	</div>

<h2>Immediate Care Card</h2>

	<h3>When to use</h3>
  <p>Use an immediate care card when advising people to dial 999, or go immediately to a hospital. This care card should be used only when conditions or symptoms are considered an emergency. </p>

	<h3>Where it's currently being used</h3>
	<p><a href="https://www.nhs.uk/conditions/chest-pain/">Chest pain page on NHS.UK</a></p>

	<h3>Final version</h3>

	<div class="nhsuk-reading-width">
		<div class="example grey-background">
			{{ careCard("black", "Call 999 if you have sudden chest pain that:", "
				<ul>
					<li>spreads to your arms, back, neck or jaw</li>
					<li>makes your chest feel tight or heavy</li>
					<li>also started with shortness of breath, sweating and feeling or being sick</li>
				</ul>
				<p>You could be having a <a href=''>heart attack</a>. Call 999 immediately as you need immediate treatment in hospital.</p>")
			}}
		</div>
	</div>

	<div class="example-snippet">
	<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-4">Copy</button>

<pre class="language-markup" id="clipboard-4"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card nhsuk-c-care-card--black<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>Call 999 if you have sudden chest pain that:<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>spreads to your arms, back, neck or jaw<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>makes your chest feel tight or heavy<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>also started with shortness of breath, sweating and feeling or being sick<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>You could be having a <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>a</span> <span class="token attr-name">href</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span><span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>heart attack<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>a</span><span class="token punctuation">&gt;</span></span>. Call 999 immediately as you need immediate treatment in hospital.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
	</div>

	<h2 id="accessibility">Accessibility</h2>
	<p>Screen reader users may be unable to distinguish the urgency message of care cards via their colour. Therefore text that is read by screen readers but hidden visually can be added to the header of the care card to indicate its urgency.</p>
  <p>This also aids those who may use headings to navigate the page as this text will be part of the heading.</p>

<pre class="language-markup">
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>visually-hidden<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Non urgent care: <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>Speak to a GP if<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span></pre>

  <p>For those who use high contrast mode in Windows, the colours of the care cards are indistinct so the level of urgency is not conveyed.</p>
  <p>To try and give some level of importance to the care cards, a border is shown in this mode to help distinguish care cards from the rest of the content.</p>

	<h2 id="research">Research</h2>
  <p>The overall design of care cards has tested well in numerous labs, amongst broader content testing. Some accessibility testing raised issues around hidden text used to communicate importance. This has been resolved. See the Accessibility section for more details. </p>

	<h2 id="design-decisions">Design decisions</h2>
	<p>The design of care cards is deliberately distinct from other callout boxes and components, to ensure their message is clear. The full-width, coloured block at the top of each card is meant to make the user pause, if scrolling/scanning down a page.</p>

	<p>NHS blue is used for non-urgent care, to be reassuring, whereas red is used for the urgent and immediate cards, to draw the eye and communicate their importance. Small downward arrows are used to guide the eye straight to the content in the card. The immediate care card uses a dark grey background to stand out above all other page content, without being too alarming. Research had shown that a previous iteration that was completely red, was too worrying for some users.</p>

	<h2 id="111-care-card-deprecated">111 Care Card (deprecated)</h2>

	<h3>Deprecation notes</h3>
	<p>After initial roll-out of the care cards, it became apparent that there was not a clear enough distinction in the type of care that could be promoted with a non-urgent, remote care card, so we have decided to remove it from the design system. The original notes for the card are below.</p>

	<h3>Final version</h3>

	<div class="nhsuk-reading-width">
		<div class="example grey-background">
			{{ careCard("grey", "Call 111", "<p>If you can't speak to your GP and don't know what to do next.</p>") }}
		</div>
	</div>

	<div class="example-snippet">
	<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-1">Copy</button>

<pre class="language-markup" id="clipboard-1"><code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card nhsuk-c-care-card--grey<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__heading<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h3</span><span class="token punctuation">&gt;</span></span>Call 111<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h3</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-care-card__content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>If you can't speak to your GP and don't know what to do next.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
	</div>

{% endblock %}
