{% set title = 'Details' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
  <h1>Details</h1>
  <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__development">Development</span></p>
{% endblock %}


{% block sidebar %}
  <h2 class="nhsuk-heading-xs">Contents</h2>
  <ul>
    <li><a href="#userneed">User needs</a></li>
    <li><a href="#whatsused">What's currently being used</a></li>
    <li><a href="#hypothesis">Our hypothesis</a></li>
    <li><a href="#design">Design and research</a></li>
    <li><a href="#example">Example and code snippet</a></li>
    <li><a href="#accessibility">Accessibility</a></li>
    <li><a href="#usage">Usage</a></li>
  </ul>
{% endblock %}


{% block content %}

  <div class="nhsuk-reading-width">

    <h2>Notes</h2>
    <p>Notes provides users with small extra details. Primarily used on transactional services. They make a page easier to scan by letting users reveal more detailed information only if they need it.</p>
    <p><strong>Details are defined by:</strong></p>

    <ul>
      <li>Supporting information</li>
      <li>Not prominent</li>
      <li>Sat beneath main content</li>
      <li>Useful in transactional services</li>
    </ul>

    <h2 id="userneed">User needs</h2>
    <p>As a user, I want to learn about a health issue / complete a form at my own pace, so that I can fully understand the issue / process I'm undertaking . </p>

    <h2 id="whatsused">What's currently being used</h2>
    <ul>
      <li>Your data matters - <a href="https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/">https://www.nhs.uk/your-nhs-data-matters/manage-your-choice/</a> </li>
      <li>Manage your referral - <a href="https://www.ebs.ncrs.nhs.uk/login">https://www.ebs.ncrs.nhs.uk/login</a></li>
    </ul>

    <h2 id="hypothesis">Our hypothesis</h2>
    <p>There is currently no consistency in UI or iconography.</p>
    <p>We believe that a consistent reveal will</p>
    <ul>
      <li>help with access needs (consistent labeling)</li>
      <li>help with users mental model (speed up future use)</li>
      <li>using our own suite of icons - help reinforce our branding </li>
    </ul>
    <p>We believe that a successful reveal will</p>
    <ul>
      <li>Follow existing models for reveal interactions (icon left)</li>
      <li>Large enough icon as target </li>
    </ul>

    <h2 id="design">Design and research</h2>

    <h3>Research findings</h3>
    <p>20th June 2018 - Roundhay Research, Leeds </p>
    <p>Most users (4/5) noticed and tapped in the page contents (reveal), understanding its function. </p>


    <h2 id="example">Example and code snippet</h3>

    <div class="example grey-background">

      <script src="../js/details.polyfill.js"></script>

      <details class="nhsuk-c-details">
        <summary class="nhsuk-c-summary">
          <span class="nhsuk-c-summary__title">Where can I find my NHS number?</span>
        </summary>
        <div class="nhsuk-c-details__content">
          <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
          <p>You can find your NHS number on any document sent to you by the NHS. This may include:</p>
          <ul>
            <li>prescriptions</li>
            <li>test results</li>
            <li>hospital referral letters</li>
            <li>appointment letters</li>
            <li>your NHS medical card</li>
          </ul>
          <p>Ask your GP practice for help if you can't find your NHS number.</p>
        </div>
      </details>

    </div>

    <div class="example-snippet">

<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-1">Copy</button>
<pre class="language-markup" id="clipboard-1">
<code class="language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>details</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-details<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>summary</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-summary<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>span</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-summary__title<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>Where can I find my NHS number?<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>span</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>summary</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-details__content<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>An NHS number is a 10 digit number, like 485 777 3456.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>You can find your NHS number on any document sent to you by the NHS. This may include:<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>ul</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>prescriptions<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>test results<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>hospital referral letters<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>appointment letters<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
      <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>li</span><span class="token punctuation">&gt;</span></span>your NHS medical card<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>li</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>ul</span><span class="token punctuation">&gt;</span></span>
    <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>Ask your GP practice for help if you can't find your NHS number.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>details</span><span class="token punctuation">&gt;</span></span></code></pre>

  </div>

    <h2 id="accessibility">Accessibility</h2>
    <ul>
      <li>W3C - Informational Graphic Contrast (Minimum): Graphics that are very thin are harder to perceive, therefore have a higher contrast requirement of 4.5:1. Graphics that are thicker or are solid shapes have a lower requirement of 3:1. <a href="https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Informational_Graphic_Contrast_(Minimum)">https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Informational_Graphic_Contrast_(Minimum)</a></li>
      <li>Write clear link text</li>
      <li>The <code>&lt;details&gt;</code> and <code>&lt;summary&gt;</code> HTML5 elements are <a href="http://caniuse.com/#feat=details">not currently supported in Internet Explorer or older browsers</a>. Therefore you need to use a <a href="../js/details.polyfill.js">details polyfill</a>. As well as providing support for older browsers and Internet Explorer, it also adds enhancements to make it more accessible to assistive technologies.</li>
    </ul>

    <h2 id="usage">Usage</h2>
    <ul>
      <li>consider the context</li>
      <li>don’t over do it</li>
      <li>don't hide important content from people</li>
      <li>don't force users to interact needlessly with the page</li>
      <li>If a majority of users need that content, <strong>don’t hide it.</strong></li>
    </ul>
    <p>Done well, reveals:</p>
    <ul>
      <li>keep a page focussed and uncluttered</li>
      <li>deliver targeted content to those people who need it</li>
      <li>reduce the cognitive load on your users</li>
    </ul>
    <p>From the Android design principles:</p>
    <p>"Only show what I need when I need it. People get overwhelmed when they see too much at once. Break tasks and information into small, digestible chunks. Hide options that aren't essential at the moment, and teach people as they go." <a href="http://developer.android.com/design/get-started/principles.html">http://developer.android.com/design/get-started/principles.html</a></p>

  </div>
{% endblock %}
