{% set title = 'Callouts' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% from "macros/keypoint.html" import keypoint %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Inset text</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__ready">Standards</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ul>
		<li><a href="#current-design">What was being used</a></li>
		<li><a href="#previous-research">Previous research</a></li>
		<li><a href="#acceptance-criteria">Acceptance criteria</a></li>
		<li><a href="#user-need">User need</a></li>
		<li><a href="#nhs-need">NHS need</a></li>
		<li><a href="#our-designs">Design and research</a></li>
		<li><a href="#code">Example and code snippet</a></li>
		<li><a href="#accessibility">Accessiblity</a></li>
		<li><a href="#usage">Usage (rules)</a></li>
    </ul>
{% endblock %}

{% block content %}

<div class="nhsuk-reading-width">

	<h2 id="current-design">What was being used</h2>

	<div class="example grey-background">
		<img class="component-image mobile" alt="Medicines info callout" src="../images/components/inset-text/meds-mobile.png">
		<p class="nhsuk-body-s">Info callout used on medicines</p>
	</div>
	<div class="example grey-background">
		<img class="component-image mobile" alt="Medicines further reading callout" src="../images/components/inset-text/meds-reading.png">
		<p class="nhsuk-body-s">Further reading callout used on medicines</p>
	</div>
	<div class="example grey-background">
		<img class="component-image mobile" alt="Conditions info callout" src="../images/components/inset-text/conditions-mobile.png">
		<p class="nhsuk-body-s">Info callout used on conditions</p>
	</div>

	<h2 id="previous-research">Previous research</h2>
	<p>No previous research found.</p>

	<h2 id="user-need">User need</h2>
	<p>As a user I NEED to identify and understand important content related to my condition or medicine (even if I don't read all the content) SO THAT I get the best outcome for my situation.</p>
	<h2 id="nhs-need">NHS need</h2>
	<p>As an NHS.UK content designer I NEED to be able to draw user attention to information that is deemed to be more important than the body copy SO THAT users are more likely to read and understand the key information for their situation.</p>

	<h2 id="our-designs">Design and research</h2>

	<h3>Notes</h3>
	<p>The colour blue is used for notices on safety signs.</a>
	<img class="component-image mobile" alt="Example safety signs" src="../images/components/callout/safety-signs.jpg">
	<p class="nhsuk-body-s" style="margin-top:0;">Safety signage example</p>

	<h3>Design challenge</h3>
	<ul>
		<li>Design a warning callout that will work well in both contexts, for medicines and conditions.</li>
		<li>Make the design feel a part of the new design system.</li>
	</ul>

	<h3 class="nhsuk-heading-l">First iteration</h3>
	<h4 class="nhsuk-heading-m">Hypothesis</h4>
	<p><strong>If</strong> we make the callout blue and use a (i) icon</br>
	<strong>Then</strong> users will notice it</br>
	<strong>Because</strong> they see it as important information.</p>
	<div class="example grey-background">
		<img class="component-image" src="../images/components/keypoint-v1.png">
	</div>
	<h4 class="nhsuk-heading-m">Design decisions</h4>
	<ul>
		<li>Having the icon in a square offset left will more in keeping with other new design elements such as the <a href="/styles/do-dont-lists">Do and don’t lists</a>.</li>
	</ul>
	<h4 class="nhsuk-heading-m">Research findings</h4>
	<p><strong>Leeds, pop-up research, over 20 people</strong></p>
	<ul>
		<li>Some users commented that "it looks like an advert". See <a href="https://www.nngroup.com/articles/banner-blindness-old-and-new-findings/">banner blindness</a>. </li>
	</ul>

	<h3 class="nhsuk-heading-l">Second iteration</h3>
	<h4 class="nhsuk-heading-m">Hypothesis</h4>
	<p><strong>If</strong> we remove the icon and make it less stylish</br>
	<strong>Then</strong> users are more likley read it</br>
	<strong>Because</strong> they will see it as part of the page and as not an advert.</p>
	<div class="example grey-background">
		<img class="component-image" src="../images/components/keypoint-v2.png">
	</div>

	<h4 class="nhsuk-heading-m">Research findings</h4>
	<p><strong>Leeds, pop-up research, over 10 people</strong></p>
	<p>The white background made it too prominent, and it wasn't clear where it belonged in a hierarchy (with other callouts).</p>

	<h3 class="nhsuk-heading-l">Third iteration</h3>
	<h4 class="nhsuk-heading-m">Hypothesis</h4>
	<p><strong>If</strong> we remove the white background</br>
	<strong>Then</strong> users will still notice it</br>
	<strong>Because</strong> it still stands out from the body copy.</p>
	<div class="example grey-background">
		<img class="component-image" src="../images/components/inset-text/new-desktop.png">
	</div>

	<p><strong>NHS.UK usability lab, Leeds, 20th June 2018</strong></p>

	<ul>
		<li>3/5 users spontaneously noticed the key point, and understood its purpose and place in hierarchy of callouts.
		<br>“It stands out. It makes you read that piece”
		<br>“The blue bar made me look at it”</li>
		<li>However 2/5 users scrolled past it and didn’t notice until prompted.
		<br>But these users understood it’s purpose and it’s position in a hierarchy of callouts.</li>
	</ul>

	<p><strong>NHS.UK usability lab, Sheffield, 16th July 2018</strong></p>

	<ul>
		<li>3/5 users noticed the key point and understood it’s meaning and placement in the hierarchy.</li>
		<li>2 users initially missed the key point and needed prompting to see it.</li>
	</ul>

	<h2 id="code">Example and code snippet</h2>

	<div class="example grey-background">
		{{ keypoint("<p>Sometimes AMD may be found during a routine eye test before you have symptoms.</a></p>") }}
	</div>

	<div class="example-snippet">
		<button class="nhsuk-btn-copy" data-clipboard-target="#clipboard-3">Copy</button>
<pre class="language-markup" id="clipboard-3"><code class="  language-markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>div</span> <span class="token attr-name">role</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>note<span class="token punctuation">"</span></span> <span class="token attr-name">aria-label</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>Information<span class="token punctuation">"</span></span> <span class="token attr-name">class</span><span class="token attr-value"><span class="token punctuation">=</span><span class="token punctuation">"</span>nhsuk-c-inset-text<span class="token punctuation">"</span></span><span class="token punctuation">&gt;</span></span>
  <span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>p</span><span class="token punctuation">&gt;</span></span>Sometimes AMD may be found during a routine eye test before you have symptoms.<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>p</span><span class="token punctuation">&gt;</span></span>
<span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>div</span><span class="token punctuation">&gt;</span></span></code></pre>
	</div>

</div>

	<h2 id="accessibility">Accessibility</h2>

	<p>We have used <code>role="note"</code> and <code>aria-label="Information"</code> to inform users with screenreaders that this is supportive information and different to the body text.</p>

	<h2 id="usage">Usage (rules)</h2>

	<h3>When to use this component</h3>

	<p>Use the inset text component to differentiate a block of text from the content that surrounds it.</p>

	<h3>When not to use this component</h3>
	<p>Some users do not notice inset text if it’s used on complex pages or near to other visually prominent elements. For this reason, avoid using inset text as a way of highlighting very important information that users need to see.</p>

	<p>If you need to draw attention to very important content, like health risk, use the <a href="/styles/callouts">warning callout</a> component instead.</p>

	</div>

{% endblock %}


