{% set title = 'Alpha / beta banner' %}
{% set navigation = 'transactional' %}
{% set navigationWidth = 'fluid' %}
{% extends "includes/templates/styles.html"%}

{% block header %}
    <h1>Phase banner<br />
    (Alpha / Beta)</h1>
    <p class="nhsuk-body-s"><span class="nhsuk-tag nhsuk-tag__design">Research &amp; Design</span></p>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Contents</h2>
    <ul>
    <li><a href="#userneed">User needs</a></li>
    <li><a href="#whatsused">What's currently being used</a></li>
    <li><a href="#hypothesis">Our hypothesis</a></li>
    <li><a href="#Iterations">Iterations</a></li>
    <li><a href="#usage">Usage</a></li>
    <li><a href="#example">Examples</a></li>
    <li><a href="#accessibility">Accessibility</a></li>

    </ul>
{% endblock %}

{% block content %}

<h2>Notes</h2>
<p>We feel there isn't a certain user need to this component, more a business need.</p>

<p>To label a service or page of health information as 'alpha or beta' may be detrimental to the content.</p> 

<p>Its our assumption that it could cause stress or even lead to users not trusting the information or users would simply not understand what it means - we've anecdotally heard users misreading 'beta' as 'better'. </p>

<p>When trying to gain feedback on a new thing, it would make sense that the user knew what they were feeding back on. </p>

<p>We believe this banner could be employed to allow users visiting an old service to visit a new service, and those visiting a new service to visit an old. </p>

<p>We're also of the opinion that these assumptions would be best tested in live. </p>


  <h2 id="userneed">User needs</h2>
    <p>As a user I need to identify the status of the service (information page) so I'm aware that the service is still in development.</p>
    <p>As a user I need to provide feedback about the service (information page) so that my needs are met in the future.</p>


<h2>Our designs</h2>

<h3>Hypothesis</h3>

<p>We believe</p>

<ul>
  <li>the context of the service is what sets expectations</li>
  <li>users don't understand the word or concept of alpha / beta </li>
   <li>alpha / beta de-values the quality of content in a health setting (where emotions run high)  </li>
   <li>Users may experience banner blindness and not notice an alpha beta message, especially with cookie banners etc.  </li>
   <li>Users need to know upfront (before reading the content) </li>
</ul>

<p>Therefore with content 'New' means more to users then 'alpha/beta'.</p>

<p>Allow user to feedback with linked text to a custom survey.  </p>

<p>To overcome banner blindness we suggest placing beneath the header and above the breadcrumb. Beneath the header so users know that it relates to the page they're on, and above the breadcrumbs so it doesn't hinder their experience.</p>

  <h2 id="whatsused">What's currently being used</h2>
  <p><a href="https://111.nhs.uk/">111 online</a></p>
  <img class="component-image " src="../images/component-write-up/beta-111online.png" />

  <p><a href="https://apps.beta.nhs.uk/">Apps library</a></p>
  <img class="component-image " src="../images/component-write-up/beta-appslibrary.png" />

  <p><a href="https://beta.nhs.uk/conditions/chlamydia/about/?WT.mc_id=ChlamydiaBanner">Chlamydia</a></p>
  <img class="component-image " src="../images/component-write-up/beta-findachlamydiatest.png" />

  <p><a href="https://beta.nhs.uk/">Beta homepage</a></p>
  <img class="component-image " src="../images/component-write-up/beta-homepage.png" />

  <p><a href="https://beta.nhs.uk/medicines/">Medicines Information</a></p>
  <img class="component-image " src="../images/component-write-up/beta-medicines.png" />

  <p><a href="https://your-data-matters.service.nhs.uk/">Your data matters</a></p>
  <img class="component-image " src="../images/component-write-up//beta-yourdata.png" />





    <h2 id="Iterations">Iterations</h2>

    <div class="example version-1">
        <h3>Version 1 - new layout</h3>
        
        <div class="nhsuk-c-phase-banner">
          <div class="nhsuk-o-width-container">
              <div class="nhsuk-o-grid">
                  <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">            
                      <p><strong class="nhsuk-c-phase-banner__tag">New</strong> <span>We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.</span></p>
                  </div>
              </div>
            </div>
          </div>

          <p>Link to test page <a href="https://nhsuk-redesign.azurewebsites.net/examples/test-banner-new-page-v1"> https://nhsuk-redesign.azurewebsites.net/examples/test-banner-new-page-v1 (banner in context)</a></p>


        

    </div>

    <h3>Research findings</h3>

    <p>There is no heading label for the phase banner. Screen readers just read the text, which can seem out of context. The user also noted that this didn’t seem important, and he didn’t know why it was there. Suggested moving it to the bottom of the page if it has to be included. “Who is going to check the NHS website every week? Who cares?.”<br />
    <strong>Leeds BID  - user with access needs, August 2018</strong></p>




  <h2 id="example">Examples</h2>


  <div class="nhsuk-c-panel nhsuk-c-panel__with-border"></div>

  <div class="example-snippet">
    <p>...</p>
  </div>

  <h2 id="accessibility">Accessibility</h2>

  <ul>
    <li>Ensuring the colour contrast and sizing is AA minimum ('New' label has a contrast ratio of 6.38 which is AA, text has a contrast of 14.42 so it AAA)</li>
    <li>Including a heading label to help screenreader users understand the context</li>

  </ul>

  <h2 id="usage">Usage (rules)</h2>

  <ul>
    <li>Always allow users to feedback if the thing is new</li>
    <li>Don't get in the way of a user completing their task</li>
    <li>Don't just rely on the phase banner for your feedback. Its not meant to be prominent. Use in conjunction with a feedback banner  </li>
    <li>Consider how long the banner is presented, manage users expectations where possible</li>
    <li>The 'new' phase banner would only work in the context of a new service, it shouldn't be used on simple content changes (content should always be in beta)</li>

  </ul>


<h3>What is success</h3>

<p>Success would be users understanding that the service is new / being iterated. They still trust the information / service and they're compelled to feedback. </p>

<h3>How we measure success</h3>

<p>Number of users completing feedback surveys, also the user feedback - monitoring that they understand and there is no concerns over content appearing untrustworthy / abandoning transactions. </p>

<h3>Hypotheses for design iterations</h3>

<p>The user with access needs that helped test this on a screen   reader suggested that the label appeared out of context, he recommended moving to the footer of the page - but his option was "who cares? (that the content is new)".</p>

<p>It would be good to explore the placement of the banner and also the wording - whats in it for users if they feedback? Why its important that we're telling users that this thing is new?</p>

<p>We would also like to explore the concept of: </p>
  
<ul>
  <li>a user visiting an old 'thing' and presented with a message about viewing a new 'thing' - optional opt in</li>
  <li>a user visiting a new 'thing' and presented with a message about viewing the old 'thing' - optional opt out</li>
</ul>

 <p>These concepts would need to be worked up in context with an appropriate content designer.</p>

{% endblock %}
