{% set title = 'Frontend kit' %}
{% set parent = '' %}
{% set navigation = 'transactional' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
    {{ breadcrumbs('/examples/manual/', 'Home', '/examples/nhs-standard/', 'NHS Service Standard') }}  
{% endblock %}

{% block header %}
  <h1>2. Does it work for everyone?</h1>
	<div class="nhsuk-reading-width">
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div class="nhsuk-page-content">
										
            <h2>Why it's important</h2>
            <p>NHS services must work for everyone who needs to use them. And inclusive, accessible services are better for everyone. For example, simple language and clear typography is better for someone in a hurry as well as someone with a visual disability.</p>

            <h2>What you must do</h2>
            <ul>
                <li>Meet accessibility standards, like WCAG2.1</li>
                <li>Avoid excluding any groups within the audience you serve</li>
            </ul>

            <h2>What you may want to do</h2>
          
            <ul>
                <li>Regularly carry out research with people with access needs</li>
                <li>Make sure you don't excluse people who don't have digital skills or internet access.</li>
            </ul>

            <h2>Guidance</h2>
            <ul>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
            </ul>

            <h2>Get support with this</h2>
            <ul>
                <li><a href="">Training</a></li>
                <li><a href="">Book a workshop</a></li>
                <li><a href="">Blog post</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}
