{% set title = 'Frontend kit' %}
{% set parent = '' %}
{% set navigation = 'transactional' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
    {{ breadcrumbs('/examples/manual/', 'Home') }}  
{% endblock %}

{% block header %}
  <h1>NHS service standard</h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">The NHS service standard helps teams in the NHS make good quality products and services that work for their users.
        </p>
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div class="nhsuk-page-content">
										
            <h2>1. Are you meeting your users’ needs?</h2>
            <p>Develop a deep understanding of the problem your users need your team to solve. Build the right solution to the problem in the best possible way. Test that what you are building works for users, and improve it based on what you learn.</p>
            <br>
            <a href="/examples/nhs-standard/needs-v1">More about point 1</a>

            <h2>2. Does it work for everyone?</h2>
            <p>The NHS is for everyone. Make sure people with different physical, mental health, social, cultural or learning needs can use your solutions.</p>
            <br>
            <a href="/examples/nhs-standard/everyone-v1">More about point 2</a>

            <h2>3. Have you defined outcomes and measured success?</h2>
            <p>Define the health, wellbeing or other measurable outcomes that your work will have an effect on. Measure them so you can tell how effective you have been.</p>
            <br>
            <a href="/examples/nhs-standard/outcomes-v1">More about point 3</a>

            <h2>4. Are you providing a joined up experience?</h2>
            <p>Show how the thing you are working on joins things together to improve your user's healthcare journey. Where needed, work with other teams or organisations.</p>
            <br>
            <a href="/examples/nhs-standard/joined-up-v1">More about point 4</a>

            <h2>5. Do you have the right skills, tools and technologies?</h2>
            <p>To do</p>
            <br>
            <a href="/examples/nhs-standard/skills-tools-tech-v1">More about point 5</a>




        </div>
    </div>
</div>

{% endblock %}
