{% set title = 'Frontend kit' %}
{% set parent = '' %}
{% set navigation = 'transactional' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
    {{ breadcrumbs('/examples/manual/', 'Home', '/examples/nhs-standard/', 'NHS Service Standard') }}  
{% endblock %}

{% block header %}
  <h1>4. Are you providing a joined up experience?</h1>
	<div class="nhsuk-reading-width">
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div class="nhsuk-page-content">
										
            <h2>Why it's important</h2>
            <p>Fragmented services are difficult for users. Parts of a service need to come together into an obvious journey that makes sense to users, irrespective of the organisation, department or team that's responsible.</p>

            <h2>What you must do</h2>
            <ul>
                <li>Explain how the thing you are working on will become part of a wider service that solves a whole problem for users</li>
                <li>If other organisations or teams work on other parts of the service, show a plan for working with them and iterating towards the wider service</li>
            </ul>

            <h2>What you may want to do</h2>
          
            <ul>
                <li>Publish things to raise awareness of what you are doing outside your team and organisation, increasing the potential for collaboration</li>
                <li>Involve front line staff and policy people</li>
                <li>Thing 3</li>
            </ul>

            <h2>Guidance</h2>
            <ul>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
            </ul>


        </div>
    </div>
</div>

{% endblock %}
