{% set title = 'Frontend kit' %}
{% set parent = '' %}
{% set navigation = 'transactional' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
    {{ breadcrumbs('/examples/manual/', 'Home', '/examples/nhs-standard/', 'NHS Service Standard') }}  
{% endblock %}

{% block header %}
  <h1>1. Are you meeting your users’ needs?</h1>
	<div class="nhsuk-reading-width">
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div class="nhsuk-page-content">
										
            <h2>Why it's important</h2>
            <p>Lots of products and services aren't useful for users. Others are frustrating and hard to use. By developing a deep understanding of your users and their needs, you are more likely to help them achieve their goals.</p>

            <h2>What you must do</h2>
            <ul>
                <li>Be clear who your users are</li>
                <li>Describe the problem users need you to solve</li>
                <li>List the top user needs for each kind of user</li>
                <li>Explain how your chosen solution meets your users' needs</li>
                <li>Have evidence that these user needs are real</li>
                <li>Have evidence that your solution works well for users</li>
            </ul>

            <h2>What you may want to do</h2>
          
            <ul>
                <li>Test frequently and improve/li>
                <li>Use consistent NHS.UK design patterns</li>
                <li>Follow the NHS.UK content style guide</li>
                <li>Use agile ways of working to reduce the risk of delivering the wrong thing</li>
            </ul>

            <h2>Guidance</h2>
            <ul>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
            </ul>

            <h2>Get support with this</h2>
            <ul>
                <li><a href="">Training</a></li>
                <li><a href="">Book a workshop</a></li>
                <li><a href="">Blog post</a></li>
            </ul>


        </div>
    </div>
</div>

{% endblock %}
