{% set title = 'Frontend kit' %}
{% set parent = '' %}
{% set navigation = 'transactional' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
    {{ breadcrumbs('/examples/manual/', 'Home', '/examples/nhs-standard/', 'NHS Service Standard') }}  
{% endblock %}

{% block header %}
  <h1>3. Have you defined outcomes and measured success?</h1>
	<div class="nhsuk-reading-width">
	</div>
{% endblock %}

{% block content %}

<div class="nhsuk-o-grid">
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">
        <div class="nhsuk-page-content">
										
            <h2>Why it's important</h2>
            <p>If you don't know what good looks like, you won't know if the service is solving the problem it's meant to solve. By being clear about the outcomes early on, and measuring towards them, you decrease the risk of wasting NHS money doing work that doesn't achieve its intent.</p>

            <h2>What you must do</h2>
            <ul>
                <li>Define the outcomes your work will impact</li>
                <li>List the top metrics which will indicate how well the service is solving the problem it's meant to</li>
                <li>Track performance against the metrics you set</li>
                <li>Show you've made decisions based on performance data to improve the service</li>
            </ul>

            <h2>What you may want to do</h2>
            <ul>
                <li>Openly publish your performance data</li>
            </ul>

            <h2>Guidance</h2>
            <ul>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
                <li><a href="">GDS - Guidance on example topic</a></li>
            </ul>


        </div>
    </div>
</div>

{% endblock %}
