{% set title = 'NHS.UK Home page' %}
{% from 'components/action-link/macro.njk' import actionLink %}
{% from 'components/promo/macro.njk' import promo, promoWithImage, promoNoDescription %}
{% extends "includes/templates/nhsuk-home-page.html"%}

{% block content %}

{% include 'partials/home-page/home-page-hero.html' %}

<section class="nhsuk-section nhsuk-section--top-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-health-a-z-and-medicines-no-top-tasks.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-services.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--with-image  nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-find-help.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-ehic.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-healthy-living.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-news.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section nhsuk-section--white">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">    
            {% include 'partials/home-page/home-page-section-content/home-page-apps-library.html' %}
        </div>
    </div>
</section>

<section class="nhsuk-section">
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-grid">
            {% include 'partials/home-page/home-page-section-content/home-page-promos.html' %}  
        </div>
    </div>
</section>

{% endblock %}

{% block customJS %}
{% endblock %}

