
.nhsuk-c-feedback-banner {
    display: none;
		background: $nhsuk-white;
		bottom: 0;
		box-shadow: 0px -4px 0px 0px rgba(33,43,50,0.16);
		margin: 0 auto;
		padding: 32px 0;
		position: fixed;
    width:100%;
    z-index: 2;

		@include mq($until:tablet) {
			padding: 24px 0;
		}
  
    &__content {
      @include clear();
    }
  
    &__header {
      font-size: 24px;
      line-height: 32px;
      margin: 0;
      
    @include mq($until:tablet) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  
    &__message {
      margin: 8px 0 0;

      @include mq($until:tablet) {
        padding-bottom: 32px;
      }
    }
  
    &__close {
      float: right;
      color: $nhsuk-black;
      display: block;
      font-size: 14px;
      margin: 6px 0 0 0;

      @include mq($until:tablet) {
        bottom: 24px;
        position: absolute;
        right: 16px;
      }
    }
  
    @media screen and (max-width:480px) {
      .wrap {
        white-space:nowrap;
      }
    }
  
  }