<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full nhsuk-section__content">
  <div class="nhsuk-c-promo">
        <a href="https://www.nhs.uk/oneyou/stoptober">
            <div class="nhsuk-c-promo__image-wrapper">
                <div class="nhsuk-c-promo__image" style="background-image:url(/assets/images/homepage/promo-images/gp.jpg);"></div>
            </div>
            <div class="nhsuk-c-promo__content">
                <h3 class="nhsuk-c-promo__heading">Find out how to sign up for GP online services</h3>
                <p class="nhsuk-c-promo__description">All GP practices now offer online services to make your life easier.</p>
                <p class="nhsuk-c-promo__description">You can go online to:</p>
                <ul class="nhsuk-c-promo__description">
                  <li>book or cancel appointments</li>
                  <li>order repeat prescriptions</li>
                  <li>see parts of your medical record</li>
                </ul>
            </div>
        </a>
    </div>
</div>
