<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one nhsuk-section__content">
  <h2 class="nhsuk-section__heading">Online GP appointments and prescriptions</h2>
  <p class="nhsuk-section__description">All GP practices now offer online services to:</p>
  <ul class="nhsuk-section__description">
    <li>book or cancel appointments</li>
    <li>order repeat prescriptions</li>
    <li>see parts of your medical record</li>
  </ul>
  <p class="nhsuk-section__description">Every month, over 1 million appointments are booked online and over 2 million prescriptions are ordered without needing to visit a GP.</p>
  {{ actionLink("/examples/transaction/page-1", "Find out how to sign up for GP online services", "") }}
</div>
