<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content">
<h2 class="nhsuk-section__heading">European Health Insurance Card (EHIC)</h2>
  <p class="nhsuk-section__description">An EHIC can help you get free or reduced-cost healthcare while visiting many countries in Europe.</p>
  {{ actionLink("#", "Apply for or renew your EHIC", "") }}

</div>
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-section__content nhsuk-section__content--stacked-collapsed">
    <div class="nhsuk-c-promo">
    <a href="#">
      <div class="nhsuk-c-promo__image-wrapper">
          <div class="nhsuk-c-promo__image" style="background-image:url(/assets/images/homepage/promo-images/gp.jpg);"></div>
      </div>
      <div class="nhsuk-c-promo__content">
          <h3 class="nhsuk-c-promo__heading">Find out how to sign up for GP online services</h3>
          <p class="nhsuk-c-promo__description">All GP practices now offer online services to make your life easier.</p>
      </div>
    </a>
  </div>
</div>
