<!--
// temporary (jquery ui) javascript and html for the search autocomplete functionality,
// just to demonstrate the look and feel.
// Any class name with a 'ui-' prefix can be removed when integrated into the live website.
// We will be using Funnelback but we may be able to reuse the styling
-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  var availableTags = [
    "Parade",
    "Paracetamol",
    "Paramedics",
    "Paramount"
  ];
  $( "#search-field" ).autocomplete({
    source: availableTags,
    open: function( event, ui ) {
      $(".ui-autocomplete").css("width", $(".c-search").width());
      $(".c-search__input").addClass("js-search-open");
      $(".c-search__submit").addClass("js-search-open");
      var acData = $(this).data('ui-autocomplete');
      acData
        .menu
        .element
        .find('li div')
        .each(function () {
          var me = $(this);
          var keywords = acData.term.split(' ').join('|');
          me.html(me.text().replace(new RegExp("(" + keywords + ")", "gi"), '<b>$1</b>'));
       });
       $(".ui-autocomplete").prepend('<li class="ui-prepend"><strong>Seach suggestions</strong></li>');

    },
    close: function( event, ui ) {
      $(".c-search__input").removeClass("js-search-open");
      $(".c-search__submit").removeClass("js-search-open");
    }
  });
} );
</script>

<header role="banner">
  <div class="nhsuk-global-header">
    <div class="nhsuk-o-width-container nhsuk-o-width-container--global-header">
      <div class="nhsuk-global-header__logo"><a href="/" class="global-header__link"><img src="/images/nhs-logo.png" srcset="/images/nhs-logo.svg" alt="NHS"></a></div>
      <div class="nhsuk-global-header__menusearch ui-front">
        <div class="nhsuk-global-header__menu"><a href="#" class="menu-toggle__button" aria-haspopup="true" aria-expanded="false" aria-controls="c-nav-primary" role="button" aria-label="open navigation">Menu</a></div>
        <div class="nhsuk-global-header__search">
          <div class="search-toggle"><a href="#" class="search-toggle__button" role="button" aria-expanded="false" aria-controls="c-search" aria-label="open search">Search</a></div>
          <div class="search-container">
            <form class="c-search" id="c-search" action="" method="post" role="search">
              <div class="c-search__container">
                <label class="c-search__label visually-hidden" for="search-field">Search this site</label>
                <input class="c-search__input" id="search-field" placeholder="Search" autocomplete="off" name="search-field" type="search" title="Enter the terms you wish to search for."><input class="c-search__submit" value="Submit search" type="submit">
              </div>
            </form>
            <!-- inserted by javascript? -->
            <div class="search-close"><a href="#close" class="search-close-link">Close search box</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
(function() {

	var searchToggle = {
		searchToggleButton: document.querySelector('.search-toggle__button'),
		searchClose: document.querySelector('.search-close'),
  	search: document.querySelector('.search-container'),
    menuSearchContainer: document.querySelector('.nhsuk-global-header__menusearch'),

		doToggle: function(e) {
			e.preventDefault();

      if (this.searchToggleButton.getAttribute("aria-expanded") === "false") {
        this.searchToggleButton.setAttribute("aria-expanded", "true")
      } else {
        this.searchToggleButton.setAttribute("aria-expanded", "false")
      }

			this.search.classList.toggle('js-show');
      this.menuSearchContainer.classList.toggle('js-show')
    }
	};

	searchToggle.searchToggleButton.addEventListener('click', function(e) { searchToggle.doToggle(e); });
	searchToggle.searchClose.addEventListener('click', function(e) { searchToggle.doToggle(e); });

}());
</script>
