

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% set navigation = 'transactional-gp' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% from 'components/pagination/macro.njk' import pagination, paginationNext, paginationPrevious %}
{% extends "includes/templates/transaction-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

<link rel="stylesheet" href="/assets/css/ben-shame.css">

{% block breadcrumb %}


{% endblock %}


{% block content %}







    <div class="nhsuk-reading-width">




        <form novalidate>
      
        


            <div class="govuk-form-group nhsuk-form-group" style="margin-top:24px !important;">
            <fieldset class="govuk-fieldset nhsuk-fieldset">
              <legend >   
                  <h1 class="nhsuk-c-transaction-head" >Button style examples </h1>
            </legend>

            





      









            </fieldset>
            </div>
            
            
                  
                </form>




                <script src="https://design-system.service.gov.uk/javascripts/vendor/iframeResizer.contentWindow.js"></script>
                <script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-e8916db391d2382b438540cae5e0d57a.js"></script>

                <script src="../../../assets/js/gds.js"></script>
                <script src="../../../assets/js/gds-2.js"></script>

                <button type="submit" class="govuk-button" onclick="window.location.href='page-4'" >Primary button</button>

                <button type="submit" class="nhsuk-button-secondary" onclick="window.location.href='page-4'" >Secondary button</button>



<p class="nhsuk-change-answer">          <a href="page-1" >Change my previous answer</a></p>




<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


