

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/article-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />


{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}

  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block header %}
<div class="nhsuk-reading-width">
        <h1>Register at the Rose Medical Practice</h1>
        </div>{% endblock %}

{% block content %}







    <div class="nhsuk-reading-width">
      <p>To register you’ll be asked for information about yourself including:</p>

      <ul>
<li>the GP you’re currently registered with if you have one</li>
<li>the name and address under which you’re registered with your current GP (if they’re different)</li>
<li>your NHS number if you know it</li>

  </ul>
<p>This is to help Field Way Practice find your medical records.</p>
     
    </div>


    <button type="submit" class="govuk-button" onclick="window.location.href='page-2'" style="margin-top: 16px;">Start now</button>

        <!--<a href="page-2" role="button" class="govuk-button govuk-button--start">
            Start now
          </a>-->

          <details role="group" style="margin-top:2px;">
            <summary data-analytics="summary" role="button" aria-controls="details-content-0" aria-expanded="false" style="color: #005eb8;">
                <span class="details__summary" style="text-decoration: underline;    color: #005eb8;font-weight:400;">How your personal information is handled</span>
            </summary>
            <div class="details__content" id="details-content-0" aria-hidden="true">
                <div class="block-markdown">
                    <p>Only Luscombe Family Practice sees the personal information you put this application.</p>
                  <p>Its sent securely to them so they can add it to your medical record. Its not stored for any other purpose.</p>
        
            </div>
            </div>
        </details>


<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


