

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% set navigation = 'transactional-gp' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />


{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}


{% endblock %}

{% block content %}







    <div class="nhsuk-reading-width">

            <fieldset class="govuk-fieldset">
                        <legend >   
                            <h1 class="nhsuk-c-transaction-head">What is your current address? </h1>
                                  </legend>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-1">
                        House name / number (optional)
                        <span class="govuk-visually-hidden">line 1 of 2</span>
                      </label>
                      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
                    </div>
                  
                    <div class="govuk-form-group nhsuk-form-group">
                      <label class="govuk-label" for="address-postcode" >
                        Postcode
                      </label>
                      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="LS10 6PB">
                    </div>

                    <button type="submit" class="govuk-button" onclick="window.location.href='page-9'" >Continue</button>

                    <p class="nhsuk-change-answer" style="padding-bottom:24px;"><a href="page-7" >Change my previous answer</a></p>
                  </fieldset>


<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
    <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>

<div style="border-left:4px solid #768692;padding:16px 16px 16px 16px;margin-bottom:24px;">
  <a href="page-10"><p style="margin-top:0px;">82 Albert Road, Leeds, West Yorkshire</p></a>

</div>



    




    </div>











<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


