

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% set navigation = 'transactional-gp' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />



{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}


{% endblock %}



{% block content %}







    <div class="nhsuk-reading-width">






            <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                        <legend >   
                            <h1 class="nhsuk-c-transaction-head">What is your date of birth? </h1>
                      </legend>
                      <span id="dob-hint" class="govuk-hint">
                        For example, 31 3 1980
                      </span>
                      <div class="govuk-date-input" id="dob">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="dob-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="number" pattern="[0-9]*">
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                          </div>




                <script src="https://design-system.service.gov.uk/javascripts/vendor/iframeResizer.contentWindow.js"></script>
                <script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-e8916db391d2382b438540cae5e0d57a.js"></script>



                <a href="page-6" type="submit" class="govuk-button" style="margin-bottom: 24px;">Continue</a>

                <p class="nhsuk-change-answer"><a href="page-4" >Change my previous answer</a></p>








<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


