

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/article-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />



{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}


{% endblock %}

{% block header %}
<div class="nhsuk-reading-width">

        <h1>What is your sex? </h1>
        </div>{% endblock %}

{% block content %}







    <div class="nhsuk-reading-width">




            <div class="govuk-form-group">



                    <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">

                              <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="where-do-you-live-1" name="where-do-you-live" type="radio" value="england">
                                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                                    Female
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                                    Male
                                  </label>
                                </div>
                                <div class="govuk-radios__item">
                                  <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                                  <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                                    Other
                                  </label>
                                </div>
                              </div>
                            </fieldset>
                          </div>

























                  </div>




                <script src="https://design-system.service.gov.uk/javascripts/vendor/iframeResizer.contentWindow.js"></script>
                <script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-e8916db391d2382b438540cae5e0d57a.js"></script>



    <a href="page-4">
            <button type="submit" class="govuk-button" style="
        margin-top: 16px;
    ">
            Continue
          </button></a>

          <div>
          <a href="page-2" class="govuk-back-link">Change my previous answer</a>
        </div>








<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


