

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% set navigation = 'transactional-gp' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}


{% endblock %}



{% block content %}







    <div class="nhsuk-reading-width">

            <fieldset class="govuk-fieldset">

                <legend >   
                    <h1 style="padding-bottom:40px;margin-top:25px;">How can Rose Medical Practice contact you?  </h1>
              </legend>
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-line-1">
                        Best phone number
                        <span class="govuk-visually-hidden">line 1 of 2</span>
                      </label>
                      <input class="govuk-input" id="address-line-1" name="address-line-1" type="text">
                    </div>
                  

                  
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-town">
                        Back-up phone number (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text">
                    </div>
                  
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="address-county">
                        Email address (optional)
                      </label>
                      <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
                    </div>
                  
                    {{ reveal('Why am I being asked this question?', '
                    <p>Only Luscombe Family Practice sees the personal information you put this application.</p>
                    <p>Its sent securely to them so they can add it to your medical record. Its not stored for any other purpose.</p>
                    ') }}
                  
                  </fieldset>





        



    <a href="page-12">
            <button type="submit" class="govuk-button" style="
        margin-top: 16px;
    ">
            Continue
          </button></a>

          <div>
                <a href="page-8" class="govuk-back-link">Change my previous answer</a>
              </div>








<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


