

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% set navigation = 'transactional-gp' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/transaction-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />

{% block breadcrumb %}


{% endblock %}



{% block content %}







    <div class="nhsuk-reading-width">



        <div class="govuk-form-group nhsuk-form-group">




            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend >
                        <h1 class="nhsuk-c-transaction-head">How do you want to be contacted?  </h1>
                    </legend>
      

                  <div class="govuk-checkboxes" data-module="checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
                        Email
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-1">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                          Email address
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contact-by-email" type="email">
                      </div>
              
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-2" name="citizen" type="checkbox" value="phone" data-aria-controls="conditional-citizenship-conditional-2">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-2">
                        Phone
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                          Phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel">
                      </div>
              
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="citizenship-conditional-3" name="citizen" type="checkbox" value="text message" data-aria-controls="conditional-citizenship-conditional-3">
                      <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-3">
                        Text message
                      </label>
                    </div>
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-citizenship-conditional-3">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-text">
                          Mobile phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel">
                      </div>
              
                    </div>
                  </div>
                </fieldset>
              </div>



















            
          
          











</div>

        
<script src="https://design-system.service.gov.uk/javascripts/vendor/iframeResizer.contentWindow.js"></script>
<script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-e8916db391d2382b438540cae5e0d57a.js"></script>
<script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-d27023fee8c3ad5b2c91404944bd45fc.js"></script>

<script src="../../../assets/js/gds.js"></script>

                  <button type="submit" class="govuk-button" onclick="window.location.href='page-12'" >Continue</button>
        

        
        
        <p class="nhsuk-change-answer"><a href="page-10" >Change my previous answer</a></p>







<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


