

{% set title = 'Register with a GP' %}
{% set parent = 'Health A-Z' %}
{% from 'components/inset-text/macro.njk' import insetText %}
{% from 'components/do-dont-list/macro.njk' import list %}
{% from 'components/care-card/macro.njk' import careCard %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% from 'components/cookie-banner/macro.njk' import cookieBanner %}
{% from 'components/emergency-alert/macro.njk' import emergencyAlert %}
{% from 'components/feedback-banner/macro.njk' import feedbackBanner %}
{% from 'components/phase-banner/macro.njk' import phaseBanner %}
{% from 'components/reveals/macro.njk' import reveal %}
{% extends "includes/templates/article-page.html"%}

<link href="/assets/css/gds-styles.css" rel="stylesheet" media="all" />


{% block breadcrumb %}
  {{ phaseBanner('New', 'We are testing a new page layout — your <a href="#">feedback</a> will help us to improve it.') }}

  {{ breadcrumbs('/', 'Home', '/section', 'Section') }}
{% endblock %}

{% block header %}
<div class="nhsuk-reading-width">
        <h1>What is your current address? </h1>
        </div>{% endblock %}

{% block content %}







    <div class="nhsuk-reading-width">

        <div style="background:#ffffff;padding:16px;">


                <div class="nhsuk-o-grid ">
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-!-one-half">
                          <p style="margin-top: 0px;">86 Albert Road<br />Leeds<br /> West Yorkshire
                        </p>
                        </div>
                        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-half nhsuk-!-one-half">
                          <p style="text-align: right;margin-top: 0px;"><a href="">Reset</a></p>
                        </div>

                      </div>




    </div>

    <a href="page-5">
            <button type="submit" class="govuk-button" style="
        margin-top: 16px;
    ">
            Continue
          </button></a>










<div class="content-divider content-divider--short"></div>



{% endblock %}

{% block footer %}
  {{ feedbackBanner('Help us make the NHS website better', 'Your feedback helps us improve the NHS website.', '#', 'Take our short survey') }}
{% endblock %}


