{% set title = 'Banner gate' %}
{% set parent = 'Health A-Z' %}
{% from "macros/review-date.html" import reviewdate %}
{% extends 'includes/site-layout.html' %}
{% set cookieBanner = 'active' %}



{% block body %}

  {% include 'partials/global-alert/global-alert-emergency.html' %}
  {% include 'partials/phase-banner/phase-banner-new-page-style.html' %}
	{% include 'partials/breadcrumb/breadcrumb.html' %}

    <div class="nhsuk-o-width-container">
        <main class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
				<div class="nhsuk-o-grid__item nhsuk-o-grid__item--two-thirds">

					<div class="nhsuk-page-heading">

						<h1>Banner gate</h1>
					
          </div>
				
					<div class="nhsuk-page-content">

          <p>This is the edge case for having all the banners on the same page.</p>

          <p>Including the:</p>
          <ul>
            <li>Cookie banner</li>
            <li>Emergency banner</li>
            <li>Phase banner</li>
            <li>Feedback banner</li>
          </ul>

							{{ reviewdate("30/08/2018", "30/09/2018") }}

					</div>

				</div>
			</div>
        </main>
	</div>

  {% include 'partials/feedback-banner/feedback-banner.html' %}

{% endblock %}
