{% set title = 'Early days hubpage-1' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Starting your pregnancy care</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>

  </p>

</nav>

{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->
<p class="nhsuk-body-l nhsuk-page-intro">I'm pregnant</p><br>
    <h1>Early days </h1>
	<div class="nhsuk-reading-width">

	</div>
{% endblock %}

{% block content %}
<div class="nhsuk-reading-width">

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/starting-your-pregnancy-care-1">Your NHS pregnancy journey</a></h2>
            <p>Antenatal care is the care you get from health professionals during your pregnancy. You'll be offered 7 to 10 appointments with a midwife, or sometimes a doctor.</p>
        </div>

        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/antenatal-appointments-1">Signs and symptoms of pregnancy</a></h2>
            <p>Early signs of pregnancy can include a missed period, peeing more and feeling sick.  Every woman is different and not all women will notice all of these symptoms.</p>
        </div>



        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Finding out and telling people</a></h2>
            <p>When you find out you're pregnant, you may feel happy and excited, or shocked, confused and upset. Everybody is different, and don't worry if you're not feeling as happy as you expected.</p>
        </div>

</div>


</div>

{% endblock %}
