{% set title = 'maurotest-2b' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy (antenatal) care</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>
  </p>
  </div>
</nav>
</div><HR size="6" width= "970 px" color="#4dafa5"></div>
{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->
    <h1>Your pregnancy antenatal care </h1>
	<div class="nhsuk-reading-width">
		<p class="nhsuk-body-l nhsuk-page-intro">You should start your antenatal care as soon as possible once you know you're pregnant. You can do this by contacting a midwife or GP.</p>
	</div>
{% endblock %}

{% block content %}
<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">What is antenatal care and how do I start</a></h2>
            <p>Antenatal care is the care and support you get from health professionals during your pregnancy.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/antenatal-appointments-2">Your schedule of antenatal appointments</a></h2>
            <p>How often you have your appointments will depend on whether it's your first baby and the pregnancy is straightforward . </p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Who's who in in the antenatal team</a></h2>
            <p>The healthcare professionals who may be caring for you and your baby.</p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Checks at your appointments</a></h2>
            <p>The tests you'll be offered to check for anything that may cause a problem during your pregnancy or after the birth.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">What does an ultrasound scan do?</a></h2>
            <p>What an ultrasound scan in pregnancy is for and what you can expect at your first scan appointment.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">What is screening and do I have to have it?</a></h2>
            <p>The tests you'll be offered in pregnancy to check for certain conditions, and the choices you have. </p>
        </div>
    </div>

</div>

<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Screening for Down's syndrome</a></h2>
            <p>What is Down's syndrome and how is it diagnosed? .</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
            <div class="nhsuk-c-promo-v1">
                <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">1st scan</a></h2>
                <p>What to expect at you first unltrasound scan appointment.</p>
            </div>
        </div>

        <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
                <div class="nhsuk-c-promo-v1">
                    <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Mid-pregnancy (anomaly) scan</a></h2>
                    <p>What to expect at your mid-pregnancy (anomaly) scan.</p>
                </div>
            </div>

</div>
<div class="nhsuk-o-grid">

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <div class="nhsuk-c-promo-v1">
            <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Screening for sickle cell and thalassaemia</a></h2>
            <p>The blood tests to find out if you have a gene for the blood conditions sickle cell or thalassaemia.</p>
        </div>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
            <div class="nhsuk-c-promo-v1">
                <h2 class="nhsuk-heading-s"><a href="/examples/generic-internal-page-2">Screening for HIV, hepatitis B and syphilis</a></h2>
                <p>The blood tests to find out if you have these infections, and the care you'll be offered to protect you and baby.</p>
            </div>
        </div>



</div>


<hr class="nhsuk-hr">

<h4>Actionable links</h4>
<br>
<div class="nhsuk-o-grid" >

    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="#" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Work out your due date</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="#" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Make and save your birth plan</h2>
            </div>
        </a>
    </div>
    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
        <a href="#" class="nhsuk-c-promo-white">
            <div class="nhsuk-c-promo-white-inner">
                <h2 class="nhsuk-heading-s">Maternity and paternity benefits</h2>
            </div>
        </a>
    </div>

</div>

{% endblock %}
