{% set title = 'Examples' %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                          <h1>NHS.UK example pages</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <ul>
                        <li><a href="/examples/homepage/">Homepage</a></li>
                        <li><a href="/examples/header-cookie">Header</a>: with GDPR compliant cookie and online consent</li>
                        <li><a href="/examples/conditions">Conditions</a>: 'Chickenpox'</li>
                        <li><a href="/examples/hubpage">Hub page</a>: 'The NHS in England'</li>
                        <li><a href="/examples/minihub">Condition mini hub</a>: 'Age-related macular degeneration'</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
