{% set title = 'Your pregnancy and baby guide A' %}
{% set parent = '' %}
{% extends "includes/templates/hub.html"%}

{% block breadcrumb %}





<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>





  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>
  </p>
  </div>
</nav>






{% include 'partials/home-page/home-page-hero-maurob.html' %}

{% endblock %}

{% block header %}
    <!--<h1>The NHS in England</h1>
    <div class="nhsuk-c-intro-image" style="background-image: url(../images/image-nurse.png)">
        <div class="nhsuk-c-intro-image-inner">
            <p class="nhsuk-heading-m">Everything you need to know about the health service and what you can get from it</p>
        </div>
    </div>-->

    <br><br>
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
        <hr size="6" width= "100% px" color="#4dafa5"> </hr>
      </div>
    </div>

<br>
  <div class="nhsuk-o-grid">

      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="#" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Work out your due date</h2>
              </div>
          </a>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="#" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Make and save your birth plan</h2>
              </div>
          </a>
      </div>
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">
          <a href="#" class="nhsuk-c-promo-white">
              <div class="nhsuk-c-promo-white-inner">
                  <h2 class="nhsuk-heading-s">Maternity and paternity benefits</h2>
              </div>
          </a>
      </div>

  </div>




          <hr class="nhsuk-hr">

          <h2>Getting pregnant</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Secrets to success</a></strong></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Am I pregnant?</a></strong></li>
              </ul>
            </div>

            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Problems</a></strong></li>
              </ul>
            </div>
          </div>

          <hr class="nhsuk-hr">

          <h2>Pregnancy</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul   type="round">
                <li><strong><a href="#"> I'm pregnant</a></strong></li>
                <li><strong><a href="#"> Week by week</a></strong></li>
                <li><strong><a href="#"> Twins</a></strong></li>
                <li><strong><a href="#"> Preparing for birth</a></strong></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul  type="round">
                <li><strong><a href="#"> Work out your due date</a></strong></li>
                <li><strong><a href="/examples/generichubpage-b"> Your pregnancy antenatal care</a></strong></li>
                <li><strong><a href="#"> Vaccinations</a></strong></li>
                <li><strong><a href="#"> Your health and wellbeing</a></strong></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul  type="round">
                <li><strong><a href="#"> Existing health problems</a></strong></li>
                <li><strong><a href="#"> Common pregnancy aliments</a></strong></li>
                <li><strong><a href="#"> Pregnancy-induced conditions</a></strong></li>
              </ul>
            </div>
          </div>

          <hr class="nhsuk-hr">

          <h2>Labour and birth</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">The start of labour</a></strong></li>
                <li><strong><a href="#">The birth</a></strong></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Emotions and worries</a></strong></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Premature babies</a></strong></li>
              </ul>
            </div>
          </div>
          <hr class="nhsuk-hr">

          <h2>Your newborn</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">How to breastfeed</a></strong></li>
                <li><strong><a href="#">Breastfeeding problems</a></strong></li>
                <li><strong><a href="#">Lifestyle and breastfeeding</a></strong></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Bottle feeding</a></strong></li>
                <li><strong><a href="#">Newborn screening tests</a></strong></li>
                <li><strong><a href="#">Newborn essentials</a></strong></li>
              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">New parents</a></strong></li>
                <li><strong><a href="#">New mums</a></strong></li>
                <li><strong><a href="#">Twins and multiples</a></strong></li>
              </ul>
            </div>
          </div>
          <hr class="nhsuk-hr">

          <h2>Babies and toddlers</h2>

          <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Weaning and solid foods</a></strong></li>
                <li><strong><a href="#">Teething</a></strong></li>
                <li><strong><a href="#">Baby health and care</a></strong></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Learning, play and behaviour</a></strong></li>
                <li><strong><a href="#">Twins</a></strong></li>

              </ul>
            </div>
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-third">

              <ul type="round">
                <li><strong><a href="#">Safety and accidents</a></strong></li>
                <li><strong><a href="#">Parenting</a></strong></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>



{% endblock %}
