{% set title = 'Blisters' %}
{% set parent = 'Health A-Z' %}
{% from "macros/list.html" import list %}
{% from "macros/action-link.html" import actionLink %}
{% from "macros/care-card.html" import carecard %}
{% extends "includes/templates/page.html"%}
{% from "macros/review-date.html" import reviewdate %}
{% extends "includes/templates/page-v4.html"%}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/action-link.html" import actionLink %}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Early days</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your NHS pregnancy journey</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>

  </p>

</nav>

{% endblock %}

{% block header %}
<div class="nhsuk-o-width-container">
    <main class="nhsuk-o-main-wrapper">
        <div class="nhsuk-o-grid">
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

      <div class="nhsuk-page-heading">

        <h1>Your first midwife appointment<span class="nhsuk-o-h1-sub"></span></h1>


      </div>
{% endblock %}

{% block sidebar %}
    <h2 class="nhsuk-heading-xs">Page contents</h2>
    <ol class="nhsuk-listnav">

      <li><a href="#Early signs of pregnancy">Early signs of pregnancy</a></li>

      <li><a href="#Feeling sick during pregnancy ">Feeling sick during pregnancy </a></li>

      <li><a href="#Feeling tired is common in pregnancy">Feeling tired is common in pregnancy</a></li>

<li><a href="#Sore breasts in early pregnancy">Sore breasts in early pregnancy</a></li>

<li><a href="#Peeing more often suggests pregnancy">Peeing more often suggests pregnancy</a></li>

<li><a href="#Strange tastes, smells and cravings">Strange tastes, smells and cravings</a></li>

<li><a href="#Worrying symptoms">Worrying symptoms</a></li>

<li><a href="#If your pregnancy test is negative">If your pregnancy test is negative</a></li>
    </ol>
{% endblock %}

{% block content %}


<div class="nhsuk-o-grid">

<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">








      <h2 id="Early signs of pregnancy">Early signs of pregnancy </h2>

      For women who have a regular monthly menstrual cycle, the earliest and most reliable sign of pregnancy is a missed period. Women who are pregnant sometimes have a very light period, losing only a little blood.

Some of the other early pregnancy signs and symptoms are listed below. Every woman is different and not all women will notice all of these symptoms.




      <h2 id="Feeling sick during pregnancy ">Feeling sick during pregnancy</h2>
You may feel sick and nauseous, and/or vomit. This is commonly known as morning sickness, but it can happen at any time of the day or night.

For most women who have morning sickness, the symptoms start around six weeks after their last period.

Read more about coping with nausea and morning sickness in pregnancy.

If you're being sick all the time and can't keep anything down, contact your GP. The pregnancy condition hyperemesis gravidarum (HG) is a serious condition that causes severe vomiting and needs treatment.


  <h2 id="Feeling tired is common in pregnancy">Feeling tired is common in pregnancy</h2><br>
  It's common to feel tired, or even exhausted, during pregnancy, especially during the first 12 weeks or so. Hormonal changes taking place in your body at this time can make you feel tired, nauseous, emotional and upset.

Read more about tiredness in pregnancy.


<h2 id="Sore breasts in early pregnancy">Sore breasts in early pregnancy</h2><br>
Your breasts may become larger and feel tender, just as they might do before your period. They may also tingle. The veins may be more visible, and the nipples may darken and stand out.

<h2 id="Peeing more often suggests pregnancy">Peeing more often suggests pregnancy</h2><br>
You may feel the need to pee (urinate) more often than usual, including during the night.

Other signs of pregnancy that you may notice are:

<ul><li> constipation  </li>
  <li> an increased vaginal discharge without any soreness or irritation</li>

</ul>

<h2 id="Strange tastes, smells and cravings">Strange tastes, smells and cravings</h2><br>
During early pregnancy, you may find that your senses are heightened and that some foods or drinks you previously enjoyed become repellent. You might notice:

<ul><li> a strange taste in your mouth, which many women describe as metallic
that you crave new foods
 </li>
  <li> that you lose interest in certain foods or drinks that you previously enjoyed – such as tea, coffee or fatty food</li>
  <li> that you lose interest in tobacco</li>
  <li>that you have a more sensitive sense of smell than usual – for example, to the smell of food or cooking</li>


</ul>

<h2 id="Worrying symptoms">Worrying symptoms</h2><br>
If you’re pregnant and are worried about any symptoms you’re having, talk to your GP or midwife. Find out more about:

<ul><li>bleeding or spotting in pregnancy</li>
  <li> stomach pains in pregnancy</li>

</ul>


  <h2 id="If your pregnancy test is negative">If your pregnancy test is negative</h2><br>
A positive test result is almost certainly correct. A negative result is less reliable. If you get a negative result and still think that you may be pregnant, wait a week and try again.

Find out about taking a pregnancy test.

If you are pregnant, use the pregnancy due date calculator to work out when your baby is due.

You can find maternity services near you.

Get Start4Life pregnancy emails
Sign up for Start4Life's weekly emails for expert advice, videos and tips on pregnancy, birth and beyond.

You can find pregnancy and baby apps and tools in the NHS apps library.




     </div>
     </div>

  {{ miniHubPagination(" ", " ", "/examples/test-minihub-amd/getting-diagnosed", "Signs and symptoms of pregnancy")}}
{% endblock %}
