{% set title = 'Antenatal Appointments 1' %}
{% set parent = 'Health A-Z' %}
{% from "macros/callout.html" import callout %}
{% from "macros/keypoint.html" import keypoint %}
{% from "macros/care-card.html" import carecard %}
{% from "macros/review-date.html" import reviewdate %}
{% extends "includes/templates/page-v4.html"%}
{% from "macros/mini-hub-pagination.html" import miniHubPagination, miniHubPaginationPrevious, miniHubPaginationNext%}
{% from "macros/action-link.html" import actionLink %}


{% from "macros/image.html" import image %}

{% extends 'includes/site-layout.html' %}

{% block breadcrumb %}
<nav class="nhsuk-c-breadcrumb" role="Breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-o-width-container">
    <ol class="nhsuk-c-breadcrumb__list">
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Home</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>
    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Health A-Z</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>

    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Your pregnancy and baby guide</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


    <li class="nhsuk-c-breadcrumb__item">
      <a href="#" class="nhsuk-c-breadcrumb__link">Starting your pregnancy care</a>
      <svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"/>
        <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/images/icons/icon-chevron-right-grey-10px.png" xlink:href="">
      </svg>
    </li>


  </ol>
  <p class="nhsuk-c-breadcrumb__back">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"/>
      <image class="nhsuk-icon__chevron-left nhsuk-icon__chevron-left--fallback" src="/images/icons/icon-chevron-left-blue.png" xlink:href="">
    </svg>
    <a href="#" class="nhsuk-c-breadcrumb__backlink">Back to Your pregnancy and baby guide</a>

  </p>

</nav>

{% endblock %}


{% block content %}

<div class="nhsuk-o-width-container">
    <main class="nhsuk-o-main-wrapper">
        <div class="nhsuk-o-grid">
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

      <div class="nhsuk-page-heading">

        <h1>Your NHS pregnancy journey<span class="nhsuk-o-h1-sub">I'm pregnant</span></h1>

        <div class="nhsuk-c-page-contents v3">
          <ul>


            <li><strong><span style="background-color: #fdcc68"> Your NHS pregnancy journey</span></strong></mark></li>
            <li><a href="/examples/test-minihub-amd/living-with-amd">Signs and symptoms of pregnancy</span></strong></mark></li>
            
              <li><a href="/examples/test-minihub-amd/living-with-amd">Finding out and telling people</a></li>


          </ul>
        </div>

      </div>


<div class="nhsuk-o-grid">

<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

<h3 id="First-contact"> <a href="a">Your pregnancy (antenatal) care </a></h3>

      <p>What antenatal care is, how to book your first midwife appointment, and where you’ll have your appointments
"</p>


<h3 id="First-contact"><a href="a">Your antenatal appointments </a></h3>

      <p>What antenatal care is, how to book your first midwife appointment, and where you’ll have your appointments
"</p>



<h3 id="First-contact"><a href="a">Who's who in the antenatal team</a></h3>

      <p>Who will be involved in your antenatal care, and other healthcare professionals you might see, including midwives, obstetricians, sonographers and neonatal nurses
</p>



<h3 id="First-contact"><a href="a">Routine checks and tests</a></h3>

      <p>Tests you can expect at each appointment and why, such as blood pressure checks and urine tests </p>



<h3 id="First-contact"><a href="a">What is screening?</a></h3>

      <p>What screening tests you’ll be offered, when you’ll be offered them, and why</p>



<h3 id="First-contact"><a href="a">Screening for Down's syndrome</a></h3>

      <p>How screening for Down’s syndrome and other conditions is done, and when you’ll be offered it</p>



<h3 id="First-contact"><a href="a">Screening for sickle cell and thalassaemia</a></h3>

      <p>Screening for these blood disorders involves questions about your family history, and sometimes a blood test</p>



<h3 id="First-contact"><a href="a">If screening finds something</a></h3>

      <p>What to expect if screening finds something, and where to get more information and support</p>



<h3 id="First-contact"><a href="a">Ultrasound scans</a></h3>

      <p>How an ultrasound scan works in pregnancy, and what it can do</p>



<h3 id="First-contact"><a href="a">Dating scan</a></h3>

      <p>
What the 8 to 13 week scan checks</p>



<h3 id="First-contact"><a href="a">Anomaly scan</a></h3>

      <p>What the 18 to 21 week scan checks </p>




     </div>
     </div>
     </section>
	{{ miniHubPagination(" ", " ", "/examples/test-minihub-amd/getting-diagnosed", "Signs and symptoms of pregnancy")}}
{% endblock %}
