<div id="nhsuk-feedback-banner" class="nhsuk-c-feedback-banner">
  <div class="nhsuk-o-width-container">
    <div class="nhsuk-o-grid">
      <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
        <div class="nhsuk-c-feedback-banner__content">
          <h2 class="nhsuk-c-feedback-banner__header">Help us make the NHS website better</h2>
          <p class="nhsuk-c-feedback-banner__message"><a href="#" class="wrap">Take our short survey</a></p>
          <a href="javascript:void(0)" class="nhsuk-c-feedback-banner__close" onclick="hideBanner()"><span role="text">Close<span class="visually-hidden"> feedback invite</span></span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var banner = document.getElementById("nhsuk-feedback-banner");

  document.addEventListener("DOMContentLoaded", function(){
    setTimeout(function () {
        banner.style.display = "block";
    }, 3000);
  });

  function hideBanner() {
    banner.style.display = "none";
  }
</script>
