.nhsuk-c-global-alert {
		background: $nhsuk-yellow;
		padding: 24px 0;

		@include mq($until:tablet) {
			padding: 16px 0;
		}

    &__content {
			@include top-and-bottom;
		}
        
		&__header {  
			font-size: 24px;
      line-height: 32px;      
			margin: 0;

			@include mq($until:tablet) {
				font-size: 20px;
				line-height: 28px;
			}
		}

		&__message {
			margin-top: 8px;
		}

		&__updated {
			font-size: 14px;
			margin-top: 8px;

			@include mq($until:tablet) {
				font-size: 12px;
			}
		}
				
		&__close {
			float: right;
			color: $nhsuk-black;
			display: block;
			font-size: 14px;
			margin: 6px 0 0 0;
		}

		@media screen and (max-width:480px) {
      .wrap {
        white-space:nowrap;
      }
		}
}
